@prim-color: rgb(88,171,123);
@lighter-color: rgb(108,205,152);
@mid-color: rgb(67,186,120);
@dark-color: rgb(60, 164, 103);
@darker-color: rgb(45, 116, 74);
@darkest-color: rgb(12, 65, 34);
@hover-color : aquamarine;
@pressed-color: rgb(75, 156, 129);

@font-face {
    font-family: 'scholarlyambition';
    src: url('../resources/fonts/scholarlyambition.woff');
}



;