@import "../../styles/main.less";

.container {
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: @darkest-color;
}

.mainframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80vw;
  height: 80vh;
  background-color: @prim-color;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 30px 20px 100px rgba(56, 31, 21, 0.603);
  overflow: hidden;
}

.question {
  font-family: "scholarlyambition";
  font-weight: 300;
  font-size: 2.3vw;
  color: @darkest-color;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 50px;
  margin-bottom: 350px;
}

.button {
  font-family: "scholarlyambition";
  font-size: 1vw;
  width: auto;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @darker-color;
  border-width: 100px;
  border-radius: 30px;
  padding: 15px;
  transition-duration: 50ms;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin-right: 20px;
  margin-top: 30px;
}

.button:hover {
  background-color: @mid-color;
  transition-duration: 50ms;
  transform: scale(1.125);
}

.button:active {
  background-color: @darkest-color;
  transition-duration: 50ms;
  transform: scale(0.975);
}

.buttontext {
  font-family: "scholarlyambition";
  font-size: 1.5vw;
  padding: 25px;
  color: white;
  font-weight: 300;
}

.optionlist {
  width: 80vw;
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;
  align-content: space-around;
}
